.novidades {
    background: var(--branco);
    padding: 1em;
}
.novidades_titulo {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0.5em;
}
.novidades_texto {
    font-weight: 300;
    font-size: 16px;
    color: var(--azul);
    margin-bottom: 1em;
    margin-top: 1em;
}
.novidades_email {
    border-radius: 24px;
    border: 1px solid var(--azul);
    width: 90%;
    padding: 1em;
}
.novidades_email::placeholder {
    color: var(--azul);
    background: url("../img/Email.svg");
    background-repeat: no-repeat;
    padding-left: 2.5em;
    background-position: 0.2em;
}
.final {
    background: var(--branco-rodape);
    padding: 1em;
}