.cabeçalho_menu-hamburguer {
    width: 40px;
    height: 40px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.conteiner {
    display: flex;
    align-items: center;
}
.container_img {
    padding: 0.25em;
}
.lista-menu {
    display: none;
    position: absolute;
    width: 60vw;
}
.container_botao:checked~.lista-menu {
    display: block;
}
.lista-menu_titulo, .lista-menu_item {
    background-color: var(--branco);
    padding: 1em;
}
.lista-menu_titulo {
    color: var(--amarelo-mostarda);
}
.lista-menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
