@charset "UTF-8";

header {
    border: 5px;
    background-color: grey;
    margin: 10px;
    padding: 10px;
    

}
nav {
    background-color: lightgrey;
    margin: 10px;
    padding: 3px;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.404);
    
}
nav > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 10px;
    font-weight: bolder;
}
nav >a:hover{
    color: blue;
    text-decoration: underline;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
    margin: 0;

}
main {
    background-color: white;
    margin: 10px;
    padding: 10px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
}

article {
    background-color: lightgrey;
    padding: 20px;
}
aside {
    background-color: lightslategray;
}
section{
    margin: 10px;
}
